/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
.material-icons {
    vertical-align: middle;
    color: white;
  }
*{
    padding: 0;
    margin: 0;
}
